
html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Kodchasan', sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: aquamarine;
  }
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.5in;
}
h2{
    font-size: 0.2in;
}
h3{
    color: blueviolet;
}
h4{
    font-size: 0.3in;
}
img{
    display: block;
    margin: 0 auto;
    width:600px;
    height:400px;
}
